html, body{
	width:100%; 
	height:100%; 
	padding:0px; 
	margin:0px;
	color:#fff;
	scroll-behavior: smooth;
}
.nav-bar{
	width:100%;
	height: auto;
	overflow:hidden;
	color:#fff;
}
nav{
	background:#192e3a;
}
.nav-bar img{
	width:60px ;
	height:auto;
 }
 .nav-bar li a{
     padding-right:40px;
     list-style: none;
     text-decoration: none;
     color:#fff;
 }
 .nav-bar li a:hover{
     opacity:0.8;
 }
 .order{
    background:url('./main.jpg');
    background-repeat:none;
    background-size:cover;
     height: 100vh;
     width:100vw;
     color:#fff;
     padding-top:10%;
 }
 
 .order .cart_head, .order .list_head{
       font-size:30px;
       font-family:'Raleway';
       border-radius: 40px;
       background: #000000;
 }
 
 .order ul{
     padding-top:20px;
     padding-bottom:50px;
 }
 .order ul li{
    list-style: none;
    padding-top:10px;
    padding-bottom:10px;
     width:90%;
     border-radius: 10px;
    margin-top:8px;
     color:#000000;
     border-bottom: 1px solid #192e3a;
 }

 .order ul li span{
     align-content: right;
     padding-left:200px;
}
.order ul li.total{
    align-content: right;
    margin-top:40px;
    background:#192e3a;
    color:#fff;
}

 .order ul li:hover{
      background: #00f5f5;
 }
.order .buttons{
    align-items: center;
    margin-top:8%;
}
.order .but{
    margin-top:20px;
}

.order .list_box,.order .cart_box{
background:#fff; 
width:1005;
height:auto;
border-radius:30px;
}

.home {
    font-family:'Raleway';
    background:url('./home.jpg');
    background-repeat:none;
    background-size:cover;
    width: 100vw;
    height:100vh;
} 
.home .btn{
   color:#fff;
   background:#ca0505;
}
.home .data{
    padding-top:30%;
}
.home .data span
{
    font-weight: 700;
    font-size:60px;
    line-height: 1.2em;
}
.home .data .btn{
    margin-left:30%;
    border-radius:18px;
    margin-top:15px;
}
.home .data .btn:hover{
    background: #192e3a;
}
.home .data a{
    text-decoration: none;
    color:#fff;
}